<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Matador de Monstro</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
    <div class="panel scores">
      <div class="score">
        <h1>
          Jogador
        </h1>
        <div class="life-bar">
          <div class="life"
            :class="{danger: playerLife < 20}"
            :style="{width: playerLife + '%'}"
          >
          </div>
        </div>
        <div>
          {{ playerLife }}%
        </div>
      </div>
      <div class="score">
        <h1>
          Monstro
        </h1>
        <div class="life-bar">
          <div class="life"
          :class="{danger: monsterLife < 20}"
          :style="{width: monsterLife + '%'}"
          >
          </div>
        </div>
        <div>
          {{ monsterLife }}%
        </div>
      </div>
    </div>
    <div class="panel result" v-if="hasResult">
      <div class="win" v-if="monsterLife == 0">
        Você ganhou!! :)
      </div>
      <div class="lose" v-else>
        Você perdeu!! :(
      </div>
    </div>
    <div class="panel buttons">
      <template v-if="running">
        <button class="btn attack">
          Ataque
        </button>
        <button class="btn special-attack">
          Ataque Especial
        </button>
        <button class="btn heal">
          Curar
        </button>
        <button class="btn give-up" @click="running = false">
          desistir
        </button>
      </template>
      <button class="btn new-game" @click="startGame" v-else>
        Iniciar Jogo
      </button>
    </div>
    <div class="panel logs">4</div>
  </div>
  <script src="app.js"></script>
</body>
</html>
